<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/style.css">
    <link rel="stylesheet" type="text/css" href="/aboutus.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="carousel/infinite-slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <title>U-FARM</title>
  </head>
 
  <body>
    <div w3-include-html="/includes/nav.html"></div>
    <div class="banner_image">
      <div class="banner_content">
        <h1>AMAZING CRAZE OFFERS..<br> <span>WE GOT YOU COVERED WITH OUR FAMILY PACKAGE.<span></h1>
        <p>Come One Come All Because We Are Sure We Have Everything For You.</p>
      </div>	
    </div>
  
    <div class="about" id="about">
      <h1 class="title">About Us</h1>
      <p>This is a Farming Site where you can find the Leading Agricultural Produce in the Market Today.</p>
      <div class="btn"><a href="#">Learn More</a></div>
    </div>
  
    <div class="services" id="services">
      <h1 class="title">our Services</h1>
      <p>We do all the Below.</p>
      <div class="diff_services">
        <div class="diff_services_item">
          <img src="/img/customer.jpg" alt="service_image">
          <h3 class="sub_title">CUSTOMER CARE</h3>
          <p>We always offer our services with extra love.</p>
        </div>
        <div class="diff_services_item">
          <img src="/img/pcare.jpg" alt="service_image">
          <h3 class="sub_title">AGRICULTURAL CARE</h3>
          <p>We Offer Free Advice On How To Care For Your Crops So As To Be Productive.</p>
        </div>
        <div class="diff_services_item">
          <img src="/img/pckg.jpg" alt="service_image">
          <h3 class="sub_title">CUSTOM PACKAGING.</h3>
          <p>We Package Our Farming Produce To Create Ease On Caariage.</p>
        </div>
      </div>
    </div>
    <form name="mydata" action="/contact" method="POST">
      <div class="contactus" id="contactus">
        <h1 class="title">contact us</h1>
        <div class="form_wrapper">
          <div class="form_input">
            <input type="text" placeholder="Email" id="email" name="email">
            <div class="error" id="email_err"></div>
          </div>

          <div class="form_input">
            <input type="text" placeholder="Subject" id="subject" name="subject">
            <div class="error" id="subject_err"></div>
          </div>

          <div class="form_input">
            <textarea placeholder="Message" id="message" name="message"></textarea>
            <div class="error" id="message_err"></div>
          </div>
          
          <button class="btn btn-primary" type="submit" onclick='contactUs()'>Submit</button>
        </div>
      </div>
    </form>
    <script src="/validateContact.js"></script>
  
  
    <div class="ourteam" id="ourteam">
      <h1 class="title">our team</h1>
      <div class="ourteam_wrapper">
        <div class="team-1 team">
          <div class="team_members" data-name="nathan john"><img src="/img/blac.jpg" alt="Team_Images"></div>
          <div class="team_members" data-name="Alyssa Healy"><img src="/img/team1.jpg" alt="Team_Images"></div>
          <div class="team_members" data-name="Alec Stewart"><img src="/img/team2.jpg" alt="Team_Images"></div>
        </div>
      </div>
    </div>	
  
  
    <div class="arrow">
      <a href="#home"><img src="images/arrow.png" alt="up_arrow"></a>
    </div>

    <!-- <div w3-include-html="/includes/footer.html"></div> -->

    <div class="footer container-fluid text-center" style="background-color: black;">
      <div class="footer-content">
        <div class="footer-section about">
          <h5>OUR PARTNERS</h5>
              <div class="container">
                  <!-- Infinite Slider -->
                  <section class="customer-logos slider">
                  <div class="slide"><img src="img/vege.jpg"></div>
                  <div class="slide"><img src="img/organic.jpg"></div>
                  <div class="slide"><img src="img/bpa.jpg"></div>
                  <div class="slide"><img src="img/eco.jpg"></div>
                  <div class="slide"><img src="img/berry.jpg"></div>
                  <div class="slide"><img src="img/farm.jpg"></div>
                  <div class="slide"><img src="img/mmar.jpg"></div>
                  <div class="slide"><img src="img/Green House Logo-01.jpg"></div>
                  </section>
              </div>
        </div>
        <div class="footer-section links">
          <div class="card mx-auto" style="width: 18rem;">
              <div class="card-header center">
                  ADMIN PANEL<i class="fas fa-user-astronaut"></i>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color:rgb(0, 111, 131);"><a href="/adminsignin/adminsignin"><i class="fa fa-id-card"></i> AGRICULTURAL OFFICER</a></li>
                <li class="list-group-item" style="background-color:rgb(0, 111, 131);"><a href="/agricsignin/agricsignin"><i class="fa fa-id-card"></i> WARD 1 / FARMER ONE </a></li>
                <!-- <li class="list-group-item" style="background-color:rgb(0, 111, 131);"><a href="#"><i class="fa fa-id-card"></i> WARD 2 / FARMER ONE</a></li>
                <li class="list-group-item" style="background-color:rgb(0, 111, 131);"><a href="#"><i class="fa fa-id-card"></i> WARD 3 / FARMER ONE</a></li>
                <li class="list-group-item" style="background-color:rgb(0, 111, 131);"><a href="#"><i class="fa fa-id-card"></i> WARD 4 / FARMER ONE</a></li> -->
                <li class="list-group-item" style="background-color:rgb(0, 111, 131);"><a href="/wardOAuthSignInForm/wardOAuthSignInForm"><i class="fa fa-id-card"></i> URBAN FARMER</a></li>
              </ul>
            </div>
  
          <div class="footer-section contact-form">
            <div class="icon-bar">
              <!-- if u change class to footer-bottom it will affect wen scrren is minimised -->
              <div class="#">
                &copy; | U FARM<i class="fab fa-the-red-yeti fa-2x"></i>&#169; 
              </div>
              <a href="#" class="facebook"><i class="fa fa-facebook fa-1x" ></i></a>
              <a href="#" class="twitter"><i class="fa fa-twitter fa-1x"></i></a>
              <a href="#" class="google"><i class="fa fa-google fa-1x"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin fa-1x"></i></a>
              <a href="#" class="youtube"><i class="fa fa-youtube fa-1x"></i></a>
            </div>
          </div>
        </div>
        <div class="#">
          &copy; | Designed by OKIROR PHILLIP JOTHAM &#169;
        </div>
      </div>
    </div>


        <!-- Bootstrap being added to js -->
        <script src="js/bootstrap/js/jquery-3.5.1.slim.min.js"></script>
        <script src="js/bootstrap/js/popper.min.js"></script>
        <script src="js/bootstrap/js/bootstrap.js"></script>
        <!-- Top navigation bar -->
        <script src="/includes/nav.js"></script>
        <!-- Footer infinite slider -->
        <script src="carousel/carousel.js"></script>
        <script src="carousel/slideInc.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <!-- Slick Slider JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <!-- Advanced Font Awesome NB: You used two font awesomes for this project. -->
        <script src="https://kit.fontawesome.com/496f246847.js" crossorigin="anonymous"></script>
        <script src="/index.js"></script>
        <!-- <script src="routes/registrationform.js"></script> -->
  </body>
</html>