<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/style.css">
    <link rel="stylesheet" type="text/css" href="/aboutus.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="carousel/infinite-slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
        <!-- links for sales cards -->
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/sales.css">
    <!-- light-slider.css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/lightslider.css">
    <title>U-FARM</title>
  </head>
 
  <body>
    <div w3-include-html="/includes/nav.html"></div>
        <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">HORTICULTURE PRODUCTS</h2>
            </div>
        </div>
    </div><br>
      <section class="sliderx">
          
      <ul class="autoWidth" class="cs-hidden">
          <!-- 1------------------------ -->
            <li class="item-a">
            <!-- box slider -->
      <div class="box">
        <!-- img-box -->
        <div class="slide-img">
            <span class="product-new-label">LTTP</span>
            <img src="/img/room.jpg" alt="beddings">
            <!-- overlayer -->
            <div class="overlay">
                <!-- but-btn -->
                <a href="purchase/purchase" class="but-btn">Purchase</a>
            </div>
        </div>
        <!-- detail-box -->
        <div class="detail-box">
            <!-- type -->
            <div class="type"></br>
                <a href="#">Beddings.</a>
                <span>Comfortable beddings that take your sleep to the next level.</span>
            </div>
            <!-- price -->
            <a href="#" class="price">23,000.00/=</a>
        </div>
        </div>
        </li>
                 <!-- 2------------------------ -->
                 <li class="item-b">
                    <!-- box slider -->
                    <div class="box">
                    <!-- img-box -->
                    <div class="slide-img">
                        <span class="product-new-label">LTTP</span>
                        <img src="/img/furniture 1.jpg" alt="wardrobe">
                        <!-- overlayer -->
                        <div class="overlay">
                            <!-- but-btn -->
                            <a href="purchase/purchase" class="but-btn">Purchase</a>
                        </div>
                    </div>
                    <!-- detail-box -->
                    <div class="detail-box">
                        <!-- type -->
                        <div class="type"></br>
                            <a href="#">Wardrobes.</a>
                            <span>Well customised wardrobes with lots of space to keep your material.</span>
                        </div>
                        <!-- price -->
                        <a href="#" class="price">20,000.00/=</a>
                    </div>
                    </div>
                    </li>

                         <!-- 3------------------------ -->
        <li class="item-c">
            <!-- box slider -->
      <div class="box">
        <!-- img-box -->
        <div class="slide-img">
            <span class="product-new-label">LTTP</span>
            <img src="/img/couch.jpg" alt="couch">
            <!-- overlayer -->
            <div class="overlay">
                <!-- but-btn -->
                <a href="purchase/purchase" class="but-btn">Purchase</a>
            </div>
        </div>
        <!-- detail-box -->
        <div class="detail-box">
            <!-- type -->
            <div class="type"></br>
                <a href="#">Couche.</a>
                <span>A nice way to cool and relax your mind as you rest all your stress away.</span>
            </div>
            <!-- price -->
            <a href="#" class="price">23,000.00/=</a>
        </div>
        </div>
        </li>

                 <!-- 4------------------------ -->
                 <li class="item-d">
                    <!-- box slider -->
                    <div class="box">
                        <!-- img-box -->
                        <div class="slide-img">
                            <span class="label">LTTP</span>
                            <img src="/img/dining-room-.jpg" alt="dining-room-chairs">
                            <!-- overlayer -->
                            <div class="overlay">
                                <!-- but-btn -->
                                <a href="purchase/purchase" class="but-btn">Purchase</a>
                            </div>
                        </div>
                        <!-- detail-box -->
                        <div class="detail-box">
                            <!-- type -->
                            <div class="type"></br>
                                <a href="#">Dinning set.</a>
                                <span>Dining table for the whole family for some favourable family time.</span>
                            </div>
                            <!-- price -->
                            <a href="#" class="price">27,000.00/=</a>
                        </div>
                        </div>
                        </li>
      </ul>
    </section><br>
 
    <!-- FITNESS KITS -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">FITNESS KITS</h2>
            </div>
        </div>
    </div>
      <section class="sliderx">
      <ul class="autoWidth" class="cs-hidden">
          <!-- 1------------------------ -->
            <li class="item-a">
                <!-- box slider -->
                <div class="box">
                    <!-- img-box -->
                    <div class="slide-img">
                        <span class="product-new-label">LTTP</span>
                        <img src="/img/gym1.jpg" alt="Muscle lifts">
                        <!-- overlayer -->
                        <div class="overlay">
                            <!-- but-btn -->
                            <a href="purchase/purchase" class="but-btn">Purchase</a>
                        </div>
                    </div>
                    <!-- detail-box -->
                    <div class="detail-box">
                        <!-- type -->
                        <div class="type"></br>
                            <a href="#">Muscle lifts</a>
                            <span>Build huge muscle with your very own lifts.</span>
                        </div>
                        <!-- price -->
                        <a href="#" class="price">23,000.00/=</a>
                    </div>
                    </div>
                    </li>
                    <!-- 2------------------------ -->
                <li class="item-b">
                    <!-- box slider -->
                    <div class="box">
                        <!-- img-box -->
                        <div class="slide-img">
                            <span class="product-new-label">LTTP</span>
                            <img src="/img/dumbbells.jpg" alt="dumbbells">
                            <!-- overlayer -->
                            <div class="overlay">
                                <!-- but-btn -->
                                <a href="purchase/purchase" class="but-btn">Purchase</a>
                            </div>
                        </div>
                        <!-- detail-box -->
                        <div class="detail-box">
                            <!-- type -->
                            <div class="type"></br>
                                <a href="#">Dumbbells.</a>
                                <span>Customised own sizeable dumbells that fit your weight.</span>
                            </div>
                            <!-- price -->
                            <a href="#" class="price">20,000.00/=</a>
                        </div>
                        </div>
                        </li>

                         <!-- 3------------------------ -->
                <li class="item-c">
                    <!-- box slider -->
                    <div class="box">
                        <!-- img-box -->
                        <div class="slide-img">
                            <span class="product-new-label">LTTP</span>
                            <img src="/img/exercise bike.jpg" alt="exercise bikes">
                            <!-- overlayer -->
                            <div class="overlay">
                                <!-- but-btn -->
                                <a href="purchase/purchase" class="but-btn">Purchase</a>
                            </div>
                        </div>
                        <!-- detail-box -->
                        <div class="detail-box">
                            <!-- type -->
                            <div class="type"></br>
                                <a href="#">Exercise Bikes.</a>
                                <span>Working on your leg muscles giving an extra burn for your health.</span>
                            </div>
                            <!-- price -->
                            <a href="#" class="price">23,000.00/=</a>
                        </div>
                        </div>
                        </li>   

                    <!-- 4------------------------ -->
                    <li class="item-d">
                            <!-- box slider -->
                    <div class="box">
                        <!-- img-box -->
                        <div class="slide-img">
                            <span class="label">LTTP</span>
                            <img src="/img/medicine ball.jpg" alt="medicine ball">
                            <!-- overlayer -->
                            <div class="overlay">
                                <!-- but-btn -->
                                <a href="purchase/purchase" class="but-btn">Purchase</a>
                            </div>
                        </div>
                        <!-- detail-box -->
                        <div class="detail-box">
                            <!-- type -->
                            <div class="type"></br>
                                <a href="#">Medicine Ball.</a>
                                <span>Have bouncy fun while doing cool exercises to help you off.</span>
                            </div>
                            <!-- price -->
                            <a href="#" class="price">27,000.00/=</a><br>
                        </div>
                        </div>
                        </li>
      </ul>
    </section>

                <!-- MACHINERY -->
    <div class="container"><br>
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">MACHINERY</h2>
            </div>
        </div>
    </div><br><br>
      <section class="sliderx">
      <ul class="autoWidth" class="cs-hidden">
          <!-- 1------------------------ -->
            <li class="item-a">
                    <!-- box slider -->
            <div class="box">
                <!-- img-box -->
                <div class="slide-img">
                    <span class="product-new-label">LTTP</span>
                    <img src="/img/vacuum-cleaner-657719_640.jpg" alt="vacuum-cleaner">
                    <!-- overlayer -->
                    <div class="overlay">
                        <!-- but-btn -->
                        <a href="purchase/purchase" class="but-btn">Purchase</a>
                    </div>
                </div>
                <!-- detail-box -->
                <div class="detail-box">
                    <!-- type -->
                    <div class="type"></br>
                        <a href="#">Vacuum Cleaner</a>
                        <span>Have your floor squeaky clean with our genuine ultra clean Vacuum cleaners.</span>
                    </div>
                    <!-- price -->
                    <a href="#" class="price">23,000.00/=</a>
                </div>
                </div>
                </li>
                 <!-- 2------------------------ -->
                 <li class="item-b">
                    <!-- box slider -->
                    <div class="box">
                        <!-- img-box -->
                        <div class="slide-img">
                            <span class="product-new-label">LTTP</span>
                            <img src="/img/toolbox.jpg" alt="toolbox kit">
                            <!-- overlayer -->
                            <div class="overlay">
                                <!-- but-btn -->
                                <a href="purchase/purchase" class="but-btn">Purchase</a>
                            </div>
                        </div>
                <!-- detail-box -->
                <div class="detail-box">
                    <!-- type -->
                    <div class="type"></br>
                        <a href="#">Toolbox Kit.</a>
                        <span>Toolbox kit with a variety of tools for day to day work.</span>
                    </div>
                    <!-- price -->
                    <a href="#" class="price">20,000.00/=</a>
                </div>
                </div>
                </li>

                         <!-- 3------------------------ -->
            <li class="item-c">
                    <!-- box slider -->
            <div class="box">
                <!-- img-box -->
                <div class="slide-img">
                    <span class="product-new-label">LTTP</span>
                    <img src="/img/kitchen.jpg" alt="Oven/Cooker">
                    <!-- overlayer -->
                    <div class="overlay">
                        <!-- but-btn -->
                        <a href="purchase/purchase" class="but-btn">Purchase</a>
                    </div>
                </div>
                <!-- detail-box -->
                <div class="detail-box">
                    <!-- type -->
                    <div class="type"></br>
                        <a href="#">Oven.</a>
                        <span>Fast, clean and easy cooking for your family with our latest cookers.</span>
                    </div>
                    <!-- price -->
                    <a href="#" class="price">23,000.00/=</a>
                </div>
                </div>
                </li>

                 <!-- 4------------------------ -->
                 <li class="item-d">
                    <!-- box slider -->
                <div class="box">
                    <!-- img-box -->
                    <div class="slide-img">
                        <span class="label">LTTP</span>
                        <img src="/img/generator.png" alt="generator">
                        <!-- overlayer -->
                        <div class="overlay">
                            <!-- but-btn -->
                            <a href="purchase/purchase" class="but-btn">Purchase</a>
                        </div>
                    </div>
                <!-- detail-box -->
                <div class="detail-box">
                    <!-- type -->
                    <div class="type"></br>
                        <a href="#">Generator</a>
                        <span>Tired of blackouts during this Covid break well get youself your own electricity.</span>
                    </div>
                    <!-- price -->
                    <a href="#" class="price">27,000.00/=</a>
                </div>
                </div>
                </li>
      </ul>
    </section>

    <div w3-include-html="/includes/footer.html"></div>





        <!-- Bootstrap being added to js -->
        <script src="js/bootstrap/js/jquery-3.5.1.slim.min.js"></script>
        <script src="js/bootstrap/js/popper.min.js"></script>
        <script src="js/bootstrap/js/bootstrap.js"></script>
        
        <!-- Top navigation bar -->
        <script src="/includes/nav.js"></script>

        <!-- links for sales cards -->
        <!-- Jquery -->
        <script src="/sales.js"></script>
        <!-- lightslider.js -->
        <script type="text/javascript" src="/js/bootstrap/js/lightslider.js"></script>
        <script type="text/javascript" src="/salesslider.js"></script>
        <!-- End of links for sales Card  -->

        <!-- Footer infinite slider -->
        <script src="carousel/carousel.js"></script>
        <script src="carousel/slideInc.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <!-- Slick Slider JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <!-- Advanced Font Awesome NB: You used two font awesomes for this project. -->
        <script src="https://kit.fontawesome.com/496f246847.js" crossorigin="anonymous"></script>
        <script src="/index.js"></script>
        <!-- <script src="routes/registrationform.js"></script> -->
  </body>
</html>