<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="carousel/infinite-slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <title>U-FARM</title>
  </head>
 
  <body>
        <div w3-include-html="/includes/agricnav.html"></div>
        <div class="row">
                <div class="text-center">
                <div class="profile_wrap">
                <div class="profile_img">
                    <img src="../img/eco.jpg" alt="" style="width: 35%;">
                </div>
                <div class="profile_info">
                    <h2 class="name">Garreth Riley</h2>
                    <a class="role">Administrator</a>
                </div>
                </div>
        </div>



        <!-- Bootstrap being added to js -->
        <script src="js/bootstrap/js/jquery-3.5.1.slim.min.js"></script>
        <script src="js/bootstrap/js/popper.min.js"></script>
        <script src="js/bootstrap/js/bootstrap.js"></script>
        <!-- Top navigation bar -->
        <script src="/includes/nav.js"></script>
        <!-- Footer infinite slider -->
        <script src="carousel/carousel.js"></script>
        <script src="carousel/slideInc.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <!-- Slick Slider JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <!-- Advanced Font Awesome NB: You used two font awesomes for this project. -->
        <script src="https://kit.fontawesome.com/496f246847.js" crossorigin="anonymous"></script>
        <script src="/index.js"></script>
        <!-- <script src="routes/registrationform.js"></script> -->
  </body>
</html>